# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TDRPG.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\TDRPG\.idea\.idea.TDRPG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
